.main_tip {
	height: 30px;
	background: #fdfdfd;
	font-size: 13px;
	position: absolute;
	left: 38%;
	top: 5px;
	padding: 0px 15px;
}

.main_tip_close_image {
	width: 20px;
	height: 20px;
}

.main_tip_close_image_span {
	cursor: pointer;
}