body {
	text-decoration: none;
	font-size: 13px;
	font-family: "microsoft yahei","微软雅黑";
}

.ext-strict .ext-ie6 .x-layout-split {
	background-color: #dfe8f6;
}

.ext-ie .x-tree .x-panel-body {
	position: relative;
}

.ext-ie .x-tree .x-tree-root-ct {
	position: absolute;
}

#myhomeLeft_id li {
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	width: 160px;
	height: 28px;
	line-height: 28px;
	background: url('../images/common/libackground.jpg');
	cursor: pointer /*鼠标移上去变手形*/
}

#messageLeft_id li {
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 160px;
	height: 28px;
	line-height: 28px;
	background: url('../images/common/libackground.jpg');
	cursor: pointer /*鼠标移上去变手形*/
}

#reportsLeft_id li {
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	width: 160px;
	height: 28px;
	line-height: 28px;
	background: url('../images/common/libackground.jpg');
	cursor: pointer /*鼠标移上去变手形*/
}

#sysMainLeft_id li {
	list-style-type: none;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	width: 160px;
	height: 28px;
	line-height: 28px;
	background: url('../images/common/libackground.jpg');
	cursor: pointer /*鼠标移上去变手形*/
}

.div {
	border: 1px solid #E0E0E0;
}

.gifImg {
	text-align: right;
	margin-right: 15px;
	margin-bottom: 5px;
}

.divBorder {
	border-width: 1px;
	border-style: solid;
	border-color: RGB(199, 199, 199);
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.divTitle {
	background-color: #E8E8E8;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font: bold 15px;
}

.a-operation {
	cursor: pointer;
	text-decoration: none;
	color: #005EA7
}

a:hover {
	text-decoration: underline;
}

a.information:link {
	color: blue;
	cursor: pointer;
}

a.information:visited {
	color: blue;
	cursor: pointer;
}

a.information:hover {
	color: blue;
	cursor: pointer;
}

a.information:active {
	color: blue;
	cursor: pointer;
}

a.packUp:link {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a.packUp:visited {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a.packUp:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a.packUp:active {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a.table:link {
	color: #005EA7;
	cursor: pointer;
	text-decoration: none;
}

a.table:visited {
	color: #005EA7;
	cursor: pointer;
	text-decoration: none;
}

a.table:hover {
	color: #005EA7;
	cursor: pointer;
	text-decoration: underline;
}

a.table:active {
	color: #005EA7;
	cursor: pointer;
	text-decoration: underline;
}

.t5 { /**color: #990000;*/
	text-decoration: none;
}

.t6 {
	color: #000;
	font-weight: bold;
	padding-left: 8px;
}

.t7 {
	color: #333;
	padding-left: 30px;
	padding-right: 30px;
}

.t8 {
	color: #000;
	font-weight: bold;
	padding-left: 8px;
}

.gradient {
	background-color: #E6E6E6;
	/* Webkit: Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2),
		to(#E6E6E6) );
	/* Webkit: Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #F2F2F2, #E6E6E6);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #F2F2F2, #E6E6E6);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #F2F2F2, #E6E6E6);
	/* IE 10 */
	background: -ms-linear-gradient(top, #F2F2F2, #E6E6E6);
	/*  CSS3 标准  */
	background: linear-gradient(#F2F2F2, #E6E6E6);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#E6E6E6');   for IE */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#E6E6E6)); /* for webkit browsers */
	/*background: -moz-linear-gradient(top,  #F2F2F2,  #E6E6E6); /* for firefox 3.6+ */
}

/*消息，删除，标记为已读按钮*/
.remove {
	background: url('../images/common/delete.gif');
}

.update {
	background: url('../ext/resources/images/default/dd/drop-yes.gif');
}

.minWidth { /*min-width: 800px;
	width: auto !important;
	width: 800px;*/
	
}

.css_textArea { /**width:72.5%;*/
	width: 265px;
	height: 80px;
	overflow-x: hidden;
	overflow: auto;
}

.css_textArea1 { /**width:72.5%;*/
	width: 262.5px;
	height: 80px;
	overflow-x: hidden;
	overflow: auto;
}

.css_textArea2 { /**width:72.5%;*/
	width: 257.5px;
	height: 80px;
	overflow-x: hidden;
	overflow: auto;
}

.td_dashed {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-right: 8px;
	padding-left: 8px;
}

.td_padding {
	padding-right: 8px;
	padding-left: 8px;
}

.tabone1 {
	float: left;
	margin: 0px;
	margin-top: 5px;
	text-align: center;
	padding-top: 6px;
	width: 10%;
	height: 30px;
	cursor: pointer;
	font-size: 14px;
	color: #e85356;
	border-top: #e4393c 2px solid;
	border-left: gray 1px solid;
	border-right: gray 1px solid;
	background-color: white;
	padding-bottom: 0px;
	font: 14px/30px;
	line-height: 30px;
	list-style-image: none;
	list-style-type: none;
}

.tabone2 {
	float: left;
	width: 8%;
	text-align: center;
	height: 25px;
	cursor: pointer;
	margin: 0px;
	margin-top: 10px;
	padding-bottom: 5px;
	color: gray;
	border-top: gray 2px solid;
	border-bottom: 1px #666 solid;
	background-color: #f7f7f7;
	font: 14px/25px;
	line-height: 25px;
	list-style-image: none;
	list-style-type: none;
}

.tabone3 {
	float: left;
	width: 8%;
	text-align: center;
	height: 25px;
	cursor: pointer;
	margin: 0px;
	margin-top: 10px;
	padding-bottom: 5px;
	color: gray;
	border-top: gray 2px solid;
	border-bottom: 1px #666 solid;
	background-color: #f7f7f7;
	font: 14px/25px;
	line-height: 25px;
	list-style-image: none;
	list-style-type: none;
	border-left: 1px gray solid;
}

a.flowPropose:link {
	color: #005EA7;
	cursor: pointer;
	text-decoration: none;
}

a.flowPropose:visited {
	color: #005EA7;
	cursor: pointer;
	text-decoration: none;
}

a.flowPropose:hover {
	color: #005EA7;
	cursor: pointer;
	text-decoration: underline;
}

a.flowPropose:active {
	color: #005EA7;
	cursor: pointer;
	text-decoration: underline;
}

/*遮罩层效果*/
.bg {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 1000px;
	background-color: #B5B5B5;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity =     70);
}

.show {
	display: none;
	position: absolute;
	top: 15%;
	left: 22%;
	width: 440px;
	height: 350px;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.wordHidden {
	overflow: hidden;
	text-overflow: ellipsis;
	nowrap: nowrap;
}

.highlight{
	font-size:14px;
	font-weight:bold;
}
.mustInput{
	position: relative;
	color:red;
}
.taskSimpleBlock{
    font-size:14px;
    font-weight:bold;
}