.div {
	border: 1px solid #E0E0E0;
}

.gifImg {
	margin-top: 20px;
	width: 900px;
	text-align: right;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	font: 12px;
	color: black;
	cursor: hand;
	text-align: center;
}