.bg{
background-image:url(../images/login_01.gif);
margin:0 auto;
width:1024px;
height:768px;
}
#login{
width:258px;
margin-top:295px!important;
margin-left:400px!important;
margin-top:295px;
margin-left:200px;
float:left;
}
#login ul{
width:258px;
}
#login li{
float:left;
}
#login img{
margin-left:5px;
}
#login input{
width:185px;
height:15px;
line-height:15px;
color:#1b4a73;
margin-left:9px;
}
.remindinfo{
margin:0;
margin-left:34px;
line-height:15px;
color:#929597;
}