.login_bg01 {
	background-image: url(../images/login_bg01.jpg);
	background-repeat: repeat-x;
}
.login_border01 {
	border: 1px solid #B3B3B3;
}
.login_input01 {
	margin: 0px;
	border: 1px solid #999999;
	padding-left: 8px;
	padding-top: 5px;
	font-size: 15px;
	font-weight:bold;
	height:25px;
	width:250px;
}
.login_text02 {
	font-size: 12px;
	font-weight: bold;
	color: #616161;
	text-decoration: none;
}
.login_text03 {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

.login_text04 {
	font-size: 12px;
	color: #990000;
	text-decoration: none;
}


.login_bg03 {
	background-image: url(../images/login_bg03.jpg);
	background-repeat: repeat-x;
}
.login_bg04 {
	background-image: url(../images/login_bg04.jpg);
	background-repeat: repeat-x;
}

body{
	margin:0px;
	padding:0px;
	font:12px/150% "microsoft yahei","微软雅黑";
}
