.body_bg { background-color: #C1C1C1;border: 1px solid #ADADAD;}
.main_middle1 { background-image: url(../images/main_middle1.jpg);background-repeat: repeat-x;}
.main_bg1 { background-image: url(../images/main_bg1.jpg);background-repeat: repeat-y;}
.main_bg2 { background-image: url(../images/main_bg2.jpg);background-repeat: repeat-y;}
.main_middle2 { background-image: url(../images/main_middle2.jpg);background-repeat: repeat-x;}
.main_bg3 { background-image: url(../images/main_bg3.jpg);background-repeat: no-repeat;}
.main_middle3 { background-image: url(../images/main_middle3.jpg);background-repeat: repeat-x;}
.line01 { background-image: url(../images/line01.jpg);background-repeat: repeat-x; background-position: bottom; font-weight:bold;font-size:15px;}
.t1{ color:#666666;line-height:22px;}
.divArea{margin:0 auto;}
.divArea .Col2{ width:75px}


