.Wdate{
	border:1px solid #CECECE;
	margin-left:0px;
	font-size:12px;
	color:#333;
	padding-left:5px;
	padding-top:3px;
	height: 18px;
	background:#fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}