.suggest_link {
	background-color: #FFFFFF;
	padding: 2px 6px 2px 6px;
}

.suggest_link_over {
	background-color: #E8F2FE;
	padding: 2px 6px 2px 6px;
}

#search_suggest {
	position: absolute;
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid #000000;
}

/*input*/
.input_on {
	padding: 2px 8px 0pt 3px;
	height: 18px;
	border: 1px solid #999;
	background-color: #FFFFCC;
}

.input_off {
	padding: 2px 8px 0pt 3px;
	height: 18px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.input_move {
	padding: 2px 8px 0pt 3px;
	height: 18px;
	border: 1px solid #999;
	background-color: #FFFFCC;
}

.input_out { /*height:16px;默认高度*/
	padding: 2px 8px 0pt 3px;
	height: 18px;
	border: 1px solid #CCC;
	background-color: #FFF;
}