.f-list li a {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    float: none;
    height: 20px;
    line-height: 20px;
    margin-top: 0;
    text-decoration: none;
    white-space: nowrap;
}
a {
    color: #666666;
    text-decoration: none;
}

.f-list li {
    line-height: 20px;
}

.attr {
	padding: 6px 0;
	border-top: 0
}

.a-key {
	line-height: 22px
}

.a-values {
	position: relative;
	width: 582px;
	padding-right: 70px
}

.f-list li {
	float: left;
	position: relative;
	height: 20px;
	padding: 0 20px 0 5px;
	border: 1px solid #E6E6E6;
	margin-right: 10px;
	margin-bottom: 2px;
	line-height: 20px;
	margin-left:2px;
}

.f-list li:hover,.f-list .hover {
	border: 1px solid #999
}

.f-list li a {
	float: none;
	white-space: nowrap;
	height: 20px;
	line-height: 20px;
	margin-top: 0;
	background: 0 0;
	text-decoration: none;
	color: #333
}

.f-list li a:hover {
	background: 0 0;
	color: #333
}

.f-list li strong {
	color: #E4393C
}

.f-list li img {
	display: block;
	position: absolute;
	right: 6px;
	top: 2.5px;
	cursor: pointer
}
.a-key {
	line-height: 22px
}





