.main_bg {
	background-color: #919191;
}

.top_bg3 {
	background-image: url(../images/top_bg3.jpg);
	background-repeat: repeat-x;
}

.menu_bg1 {
	background-image: url(../images/menu_bg1.jpg);
	background-repeat: repeat-x;
}

.main_middle4 {
	background-image: url(../images/main_middle4.jpg);
	background-repeat: repeat-x;
}

.main_middle5 {
	background-image: url(../images/main_middle5.jpg);
	background-repeat: repeat-x;
}

.main_left5 {
	background-image: url(../images/main_left5.jpg);
	background-repeat: repeat-y;
}

.main_right5 {
	background-image: url(../images/main_right5.jpg);
	background-repeat: repeat-y;
}

.left_bg1 {
	background-image: url(../images/left_bg1.jpg);
	background-repeat: repeat-y;
}

.left_bg2 {
	background-image: url(../images/left_bg2.jpg);
	background-repeat: repeat-y;
	font-weight: bold;
	font-size: 13px;
	color: #000;
}

.left_bg3 {
	background-image: url(../images/left_bg3.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.t1 {
	color: #ffffff;
}

.line02 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #F4F4F4;
	border-bottom-color: #F4F4F4;
	padding-left: 8px;
}

.t2 {
	padding-left: 8px;
}

.t3 {
	font-weight: bold;
}

.t4 {
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.style1 {
	color: red;
}

.main_middle6 {
	background-image: url(../images/main_middle6.jpg);
	background-repeat: repeat-x;
}

.t5 {
	color: #990000;
	text-decoration: none;
}

.t6 {
	color: #000;
	font-weight: bold;
	padding-left: 8px;
}

.t7 {
	color: #333;
	padding-left: 30px;
	padding-right: 30px;
}

.t8 {
	color: #000;
	font-weight: bold;
	padding-left: 8px;
}

.border01 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	line-height: 10px;
}

.border02 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.border03 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-right: 8px;
	padding-left: 8px;
}

.border04 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.main_middle7 {
	background-image: url(../images/main_middle7.jpg);
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

#tree01 {
	margin: auto;
	padding-left: 5px;
	cursor: default;
	position: relative;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	OVERFLOW: auto;
	SCROLLBAR-SHADOW-COLOR: #919191;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #333;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

#tree02 {
	width: 160px;
	height: 384px;
	margin: auto;
	padding-left: 5px;
}

#tree03 {
	width: 160px;
	height: 430px;
	margin: auto;
	padding-left: 5px;
}

#div1 {
	
}

#div1 td {
	border-bottom: 1px dashed #CCCCCC;
	padding-left: 5px;
}

.divArea {
	margin: 0 auto;
}

.divArea .Col2 {
	width: 100%
}

.n4Tab {
	clear: both;
}

.n4Tab .TabTitle {
	
}

.n4Tab .TabTitle ul {
	margin: 0;
	padding: 0;
	background: url(images/d.jpg) bottom repeat-x;
	width: 90%;
}

.n4Tab .TabTitle li {
	float: left;
	width: 165px;
	height: 23px;
	list-style-type: none;
	cursor: pointer;
}

.n4Tab .TabTitle li h6 {
	font-size: 12px;
	font-weight: normal;
	padding-top: 2px;
	margin: 0;
}

.n4Tab .TabTitle .normal {
	background: url(../images/button06.jpg) no-repeat;
	margin: 0 -1px 0 0;
	padding-left: 2px;
}

.n4Tab .TabTitle .active {
	background: url(../images/button05.jpg) no-repeat;
	padding-left: 2px;
}

.n4Tab .TabContent {
	padding: 10px;
	border: 1px #D4D3D3 solid;
	border-top: none;
	width: 90%;
	margin: -1px 0 0 0;
}

.none {
	display: none;
	text-align: left
}

.FixedTitleRow {
	position: relative;
	top: expression(this . offsetParent . scrollTop);
	z-index: 10;
	background-color: #BFBFBF;
}

#nav5 {
	width: 160px;
	line-height: 35px;
	list-style-type: none;
	text-align: left;
}

#nav5 a {
	width: 160px;
	display: block;
	padding-left: 40px;
}

#nav5 li {
	float: left;
	color: #DD1336;
}

#nav5 a:link {
	color: #333;
	font-size: 13px;
	text-decoration: none;
}

#nav5 a:visited {
	color: #333;
	font-size: 13px;
	text-decoration: none;
}

#nav5 a:hover {
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}

.button18 {
	background-image: url(../images/button21.jpg);
	background-repeat: no-repeat;
	cursor: hand;
}

.button19 {
	background-image: url(../images/button18.jpg);
	background-repeat: no-repeat;
	cursor: hand;
}

.button20 {
	background-image: url(../images/button20.jpg);
	background-repeat: no-repeat;
	cursor: hand;
}

.button21 {
	background-image: url(../images/button19.jpg);
	background-repeat: no-repeat;
	cursor: hand;
}

.button221 {
	background-image: url(../images/button231.jpg);
	background-repeat: no-repeat;
	cursor: hand;
}

.button231 {
	background-image: url(../images/button221.jpg);
	background-repeat: no-repeat;
	cursor: hand;
}

#nav4 {
	width: 160px;
	line-height: 35px;
	list-style-type: none;
	text-align: left;
}

#nav4 a {
	width: 160px;
	display: block;
	padding-left: 30px;
}

#nav4 li {
	float: left;
	color: #DD1336;
	background-image: url(../images/button08.jpg);
	background-repeat: no-repeat;
}

#nav4 li a:hover {
	background-image: url(../images/button07.jpg);
	background-repeat: no-repeat;
}

#nav4 a:link {
	color: #333;
	font-size: 13px;
	text-decoration: none;
}

#nav4 a:visited {
	color: #333;
	font-size: 13px;
	text-decoration: none;
}

#nav4 a:hover {
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}

#proc {
	width: 98%;
	float: left;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

#zhidu {
	width: 100%;
	float: left;
	padding-top: 15px;
}

#zhidu2 {
	width: 98%;
	float: left;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

#main_body {
	width: 810px;
	height: 450px;
	margin: auto;
	border: 1px solid #CECECE;
	background-color: #f7f7f7;
}

#main_top {
	width: 100%;
	height: 30px;
	background-image: url(../images/main_middle6.jpg);
	background-repeat: repeat-x;
	float: left;
	padding-right: 25px;
}

#main_m {
	width: 100%;
	padding-top: 5px;
	padding-right: 5px;
	float: left;
}

#include_left {
	width: 200px;
	height: 370px;
	border: 1px solid #CECECE;
	float: left;
	background-color: #fff;
	cursor: default;
	position: relative;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	OVERFLOW: auto;
	SCROLLBAR-SHADOW-COLOR: #919191;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #333;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

#include_left_tree {
	border: 1px solid #CECECE;
	float: left;
	background-color: #fff;
	cursor: default;
	position: relative;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	OVERFLOW: auto;
	SCROLLBAR-SHADOW-COLOR: #919191;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #333;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

#inclde_main {
	width: 585px;
	height: 370px;
	border: 1px solid #CECECE;
	float: right;
}

#search01 #result01 {
	width: 500px;
	padding: 10px;
	float: left;
	height: 220px;
	float: left;
	border: 1px solid #CECECE;
}

.search_title {
	height: 30px;
	padding-top: 8px;
	padding-left: 8px;
	background-image: url(../images/main_middle7.jpg);
	background-repeat: repeat-x;
}

.tab_01 {
	padding-top: 4px;
	padding-bottom: 4px;
}

#bottom01 {
	width: 100%;
	padding: 10px;
	float: left;
	height: 30px;
	padding-right: 10px;
}

.over {
	background: #EFEFEF;
	color: #990000;
	cursor: hand;
}

.out {
	color: #333;
}

#nav7 {
	line-height: 21px;
	list-style-type: none;
	background-image: url(../images/nav_bg1.jpg);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 100;
}

#nav7 a {
	width: 110px;
	text-align: center;
}

#nav7 a:link {
	color: #333;
	text-decoration: none;
}

#nav7 a:visited {
	color: #333;
	text-decoration: none;
}

#nav7 a:hover {
	color: #990000;
	text-decoration: none;
}

#nav7 li {
	float: left;
}

#nav7 li a:hover {
	background: url(images/nav_bg1.jpg) no-repeat;
}

#nav7 li ul {
	line-height: 21px;
	list-style-type: none;
	text-align: left;
	left: -999em;
	width: 140px;
	position: absolute;
}

#nav7 li ul li {
	float: left;
	background: #E8E8E8;
	height: 21px;
	line-height: 20px !important;
}

#nav7 li ul a {
	display: block;
	width: 140px;
	text-align: left;
	padding-left: 5px;
	height: 21px;
	line-height: 20px !important;
}

#nav7 li ul a:link {
	color: #333;
	text-decoration: none;
	font-weight: normal;
}

#nav7 li ul a:visited {
	color: #333;
	text-decoration: none;
	font-weight: normal;
}

#nav7 li ul a:hover {
	color: #F3F3F3;
	text-decoration: none;
	font-weight: normal;
	background: #666;
}

#nav7 li:hover ul {
	left: auto;
}

#nav7 li.sfhover ul {
	left: auto;
}

#content {
	clear: left;
}

.b01 {
	background-image: url(../images/b01.jpg);
	background-repeat: no-repeat;
}

.b02 {
	background-image: url(../images/b02.jpg);
	background-repeat: no-repeat;;
}

.b03 {
	background-image: url(../images/b03.jpg);
	background-repeat: repeat-x;
}

#nav8 {
	width: 160px;
	line-height: 35px;
	list-style-type: none;
	text-align: left;
}

#nav8 a {
	width: 160px;
	display: block;
	padding-left: 35px;
	font-size: 13px;
}

#nav8 li {
	float: left;
	color: #333;
	background-image: url(../images/button30.jpg);
	background-repeat: no-repeat;
}

#nav8 li a:hover {
	background-image: url(../images/button31.jpg);
	background-repeat: no-repeat;
}

#nav8 a:link {
	color: #000000;
	font-size: 13px;
	text-decoration: none;
}

#nav8 a:visited {
	color: #000000;
	font-size: 13px;
	text-decoration: none;
}

#nav8 a:hover {
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}

#nav8 li ul {
	list-style: none;
	text-align: left;
}

#nav8 li ul li {
	height: 30px;
	font-weight: normal;
	background: #f4f4f4;
}

#nav8 li ul li a:hover {
	background-image: url(../images/button32.jpg);
	background-repeat: no-repeat;
}

#nav8 li ul a {
	padding-left: 35px;
	width: 125px;
}

#nav8 li ul a:link {
	color: #666666;
	text-decoration: none;
	font-size: 12px;
}

#nav8 li ul a:visited {
	color: #666666;
	text-decoration: none;
	font-size: 12px;
}

#nav8 li ul a:hover {
	color: #990000;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}

#nav8 li:hover ul {
	left: auto;
}

#nav8 li.sfhover ul {
	left: auto;
}

#content {
	clear: left;
}

#nav8 ul.collapsed {
	display: none;
}

.line03 {
	background-image: url(../images/line03.jpg);
	background-repeat: repeat-x;
}

.text01 {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text02 {
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text03 {
	width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text04 {
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text05 {
	width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text06 {
	width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: red;
}

.text07 {
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text0008 {
	width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.text09 {
	width: 235px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text10 {
	width: 135px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}