#vdividermenu {
	width: 100%;;
	/*border: 1px solid #625e00;*/
	background-image: url("../images/top/bj.jpg");
}

#logo {
	width: 100%;;
	height: 55px;
	background-image: url("../images/top/logoAuto.jpg");
}

* {
	padding: 0;
	margin: 0
}

#vdividermenu table {
	border-collapse: collapse;
}

#vdividermenu table tr td {
	height: 31px;
	text-align: center;
	white-space: nowrap;
	font-size: 15px;
	background-repeat: repeat;
	font-weight: bold;
	cursor: pointer;
	word-break:keep-all;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 75px;
}

#vdividermenu table tr td a:VISITED {
	text-decoration: none;
	font-size: 13px;
	color: black;
}

.top_projectName {
	padding-right: 20px;
	text-align: right;
	width:120px;
}

.top_loginName {
	width:120px;
}

.wordHidden{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

#logo table tr td img {
	vertical-align: middle;
}

#logo table tr td {
	vertical-align:middle;
	color:#fff;
	font-size:14px;
	height:18px;
	line-height:18px;
}

#logo table tr td a{
	color:#fff;
	font-size:14px;
}

#logo table tr td a:link,a:active,a:visited {
	text-decoration: none;
}

#logo table tr td a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.position {
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	z-index: 1;
}

.menusel ul {
	border: 1px;
	margin-top: 0px;
	position: relative;
	z-index: 1;
	display: none;
	background: #fff;
	margin: 0;
	padding: 0;
	border: 0;
}

.menusel .block {
	display: block;
}

.menusel .li {
	border: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.hel {
	display: block;
	text-align: left;
	width: 60px;
	position: relative;
	cursor: pointer;
}

.menusel p {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	display: block;
	background: #fff;
	width: 160px;
	border: 1px solid #a4a4a4;
	position: relative;
	z-index: 2;
	margin-left: 2px;
}

.menusel {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	position: relative;
}

.over {
	color: red;
}

.out {
	color: black;
}